.container {

  display: flex;
  background-color: #f5f1f1;
  flex-direction: column;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.ff {
  display: flex;
}

.title {
  margin: 2.5rem 0;
  text-align: center;
}

.title h1 {
  font-size: 3rem;
  font-weight: 800;
  color: black;
  line-height: 1;
}

.title h4 {
  color: #141313;
  margin: 50px;

  justify-content: center;
  text-align: center;
}

.categoryContainer {


  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-left: 2rem;

}

.category {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: center;
  align-items: flex-start;
}

.categoryTitle {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;

  color: black;
}

.productList {

  text-align: left;
  margin: 2.5rem 0;
  list-style-type: none;
  padding: 0;
  color: #141313;
}

.productItem {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

.productCheckbox {
  height: 1.5rem;
  width: 1.25rem;
  cursor: pointer;
}

.fg {
  display: flex;
  justify-content: center;

}

.productName {
  text-transform: capitalize;
  margin-left: 1rem;
}

.productGrid {
  height: 20%;
  width: 60%;
  margin: 0 auto;

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2.5rem;
  place-items: center;
  list-style-type: none;
  padding: 0;


}

.productCard {
  shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: 100%;
}


.productCard:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.aspectSquare {
  width: 100%;
  height: 10rem;
}

.productImage {
  width: 100%;
  height: 100%;
  
}

.productInfo {
  padding: .1rem;
}

.productTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #141313;
  overflow: hidden;
  text-overflow: ellipsis;
}




.productPrice {
  font-size: 1rem;
  color: #666;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    
  }
}